<section class="container" style="margin-top: 105px" *ngIf="author">
  <h2 class="text-primary">დაამატეთ ნაწარმოები</h2>
  <p class="mt-3">ავტორი: {{author.fullName}}</p>
  <form #storyAddForm='ngForm' (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group">
      <label class="form-label">სახელი</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="story.name" required>
    </div>
    <div class="form-group my-3">
      <label class="form-label">წინასიტყვაობა</label>
      <textarea name="description" cols="30" rows="5" class="form-control" [(ngModel)]="story.description" required></textarea>
    </div>
    <div class="form-group">
      <label class="form-label">გამოქვეყნების თარიღი</label>
      <input type="date" class="form-control" name="publishDate" [(ngModel)]="story.publishDate" required>
    </div>
    <div class="form-group my-3">
      <label class="form-label">ტექსტი</label>
      <textarea name="content" cols="30" rows="15" class="form-control" [(ngModel)]="story.content" required></textarea>
    </div>
    <div class="form-group mt-3">
      <button class="btn btn-primary" type="submit" [disabled]="storyAddForm.invalid">დამატება</button>
      <button class="btn btn-info mx-3" type="button" (click)="reset()">გასუფთავება</button>
    </div>
  </form>
</section>
