<section class="container" style="margin-top: 95px" *ngIf="author">
  <article>
    <h2 class="text-primary">{{author.fullName}}</h2>
    <img class="mt-2" src="{{author.imageUrl}}" alt="">
    <p class="mt-2">Birthday: {{author.birthday | date: 'longDate'}}</p>
  </article>
  <article>
    <h4 class="text-primary">Stories</h4>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" *ngFor="let story of author.stories" [routerLink]="['/stories/' + story.id]">
        <div class="d-flex align-items-center justify-content-between">
          <h6>{{story.name}}</h6>
          <span>{{story.publishDate | date: 'longDate'}}</span>
        </div>
      </a>
    </div>
  </article>
</section>
