<header class="bg-primary" style="margin-bottom: 200px!important;">
  <section>
    <article>
      <ul>
        <li><a style="color: #fff" routerLink="/">Home</a></li>
        <li><a style="color: #fff" routerLink="/stories">Stories</a></li>
      </ul>
    </article>
    <article>
      <i class="far fa-edit"></i>
    </article>
    <article>
      <ul>
        <li routerLink="/authors"><a>Authors</a></li>
        <li routerLink="/contact"><a>Contact</a></li>
      </ul>
    </article>
  </section>
</header>

