<header class="bg-primary" style="margin-bottom: 200px!important;">
  <section>
    <article>
      <ul>
        <li><a style="color: #fff" routerLink="/">მთავარი</a></li>
        <li><a style="color: #fff" routerLink="/stories">მოთხრობები</a></li>
      </ul>
    </article>
    <article>
      <i class="fas fa-feather-alt" routerLink="/"></i>
    </article>
    <article>
      <ul>
        <li routerLink="/authors"><a>ავტორები</a></li>
        <li routerLink="/contact"><a>კონტაქტი</a></li>
      </ul>
    </article>
  </section>
</header>

