i {
  font-size: 30px;
}

input {
  margin-left: 10px;
}

label {
  margin: 0;
}

article {
  width: 60%;
  margin: auto;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 0 9px 6px rgba(0,0,0,0.51);
}

h3 {
  text-align: center;
  margin: auto;
  font-size: 35px;
}

@media only screen and (max-width: 900px) {
  article {
    width: 80%;
  }
}
