<div data-aos="flip-up" [routerLink]="['/stories/' + story.id]" class="card text-white bg-primary mb-3" style="max-width: 18rem; height: 200px; width: 300px">
  <div class="card-header">{{story.author}}</div>
  <div class="card-body">
    <h5 *ngIf="story.name.length > 40; else shorter_h" class="card-title">{{story.name | slice:0:40}}...</h5>
    <ng-template #shorter_h>
      <h5 class="card-title">{{story.name}}</h5>
    </ng-template>
    <p *ngIf="story.description.length > 60; else shorter_p" class="card-text">{{story.description | slice:0:60}}...</p>
    <ng-template #shorter_p>
      <p *ngIf="story.description.length <= 60" class="card-text">{{story.description}}</p>
    </ng-template>
  </div>
</div>
